
.histogram-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .histogram-row__code {
    width: 45px;
  }

  .histogram-row__title {
    width: 340px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .histogram-row__value {
    width: 55px;
  }

  .histogram-row__progress-bar {
      flex-grow: 1;
  }
}

.progress_bar_label,
.progress_bar,
.progress_bar_container {
  padding: 0;
}

.progress_bar_limits {
  font-size: 10px;
  padding: 0 3px 0 0;
  text-align: right;
}

.progress_bar_limits_left {
  font-size: 10px;
  padding: 0 0 0 3px;
  text-align: left;
}

.progress {
  margin: 2px 0;
  vertical-align: bottom;
  @apply bg-gray-100;
}

//.progress-bar {
//  color: #000000;
//  font-weight: bold;
//  -webkit-print-color-adjust: exact;
//}
//
//.progress-bar-negative {
//  float: right;
//  color: Red;
//  margin-left: auto;
//}

.synthetic_indicator {
  font-size: 1.2em;
}